@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    padding: 0px 40px 40px;
    font-family: 'Roboto', 'Open Sans', 'Fira Sans', 'Arial', sans-serif;
    background: url("https://philharmoniedeparis.fr/profiles/pdp/themes/pdp_theme/img/trame-bg.jpg");
}

body.concert {
    background: url("Screenshot_20171126_160105.png");
}

.concert .main {
    box-shadow: 0 0 0;
}

#app {
    width: 1280px;
    margin: 0px auto 20px;
}

.main {
    padding: 15px;
    box-shadow: 0 0 12px #999;
    border-radius: 5px;
    margin-bottom: 60px;
}

.concert .main {
    margin-top: 340px
}

.corps {
    width: 63%;
    float: left;
}

section {
    padding: 15px;
    box-shadow: 0 0 12px #999;
    border-radius: 5px;
    margin-bottom: 30px;
}

.bandeau {
    float: right;
    width: 30%;
    padding: 15px;
    margin-bottom: 60px;
    box-shadow: 0 0 12px #999;    
    border-radius: 5px;
    text-align: center;
}

.thumbnailOeuvre {
    width: 220px;
    float: left;
    margin-right: 15px;
    margin-bottom: 20px;
}

h2>p {
    font-size: 1.45em;
    font-weight: bold;
    color: #666
}

#content {
    clear: both;
}

#oeuvre {

}

.contributor .header img {
    float: left;
    margin-right: 20px;
}

.contributor {
    clear: both;
    overflow: hidden;
    margin: 5px 0;
}

#player {
    max-width: 100%;
}

#player img {
    max-width: 100%
}

#app>h1 {
    padding: 30px;
    text-align: center;
    background-color: #eceff0;
    font-size: 2.5em;
    box-shadow: 0 0 12px #999;
    border-radius: 5px;
}

.thumbnailContributor {
    width: 200px
}