<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">    
    <title>Document</title>
    <script>
            (function(d, s, id) { 
            var js, djs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return; 
            js = d.createElement(s); js.id = id; 
            js.src = "https://e-cdns-files.dzcdn.net/js/widget/loader.js"; 
             djs.parentNode.insertBefore(js, djs);
        }(document, "script", "deezer-widget-loader"));
    </script>
</head>

<body>
    <div id="app">
        <h1>Tous au concert</h1>
        <div class="corps">
            <section>
                <div class="oeuvre">
                    <div class='header'>
                        <img :src='oeuvre.depictions' :alt="oeuvre.prefLabel" class='thumbnailOeuvre' >
                        <h1>{{oeuvre.prefLabel}}</h1>
                        <p>{{oeuvre.year}}</p>                    
                    </div>
                    <div class='content'>
                        <p v-if='typeof oeuvre.description != "object"'>{{ oeuvre.description }}</p>
                        <p v-else v-for='(description, index) in oeuvre.description' :key="index">{{description}}</p>
                        <p>{{oeuvre.note}}</p>
                    </div>
                </div>
            </section>
            <section>
                <div class='contributors'>
                    <div class='contributorsRole' v-for='(contributorsRole, role) in oeuvre.contributors' :key="role">
                        <h2>{{ role }}</h2>
                        <div class='contributor' v-for='(contributor, index) in contributorsRole' :key="index">
                            <div class='header'>
                                <img :src='contributor.depictions[0]' :alt="contributor.prefLabel" v-if='contributor.depictions' class='thumbnailContributor' />
                                <h3>{{ contributor.prefLabel }}</h3>
                            </div>
                            <div class='content'>
                                <p>{{ contributor.notes }}</p>
                                <p v-if='contributor.abstract'>{{ contributor.abstract.abstract }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                <div id="autres_representations">
                    <div class="representation" v-for="(representation, index) in representations" :key="index">
                        
                    </div>
                </div>
                <div id="critiques">
                    <div class="critique" v-for="(critique, index) in critiques" :key="index">
                        <h3>{{critique.title}}</h3>
                        <img :src="critique.depiction" :alt="critique.title">
                        <p>{{critique.description}}</p>
                    </div>
                </div>-->
            </section>
        </div>
        <div class="bandeau">
             <!-- 
            <div id="picto">
                <div class="picto" v-for="picto in pictos">
                    <img src="picto.url" alt="picto.title">
                </div>
            </div> -->
            <div id="player" v-if="player.cover && player.playlist">
            <img :src="player.cover" />
            <!-- <audio controls v-for='track in player.playlist'>{{description}}
                <source :src="track.preview" />
            </audio> -->
            <audio controls>
                    <source :src="player.playlist[0].preview" />
                </audio>
            </div>
            <div id="critics">
                <div v-for="critic in critics.slice(0, 5)">
                    <a :href="critic.uri"><img :src="critic.depiction" /></a>
                    <p>{{critic.description}}</p>
                </div>
            </div>
            <hr v-if='sheets.length'/>
            <div id="sheets">
                <div v-for="sheet in sheets.slice(0, 5)">
                    <a :href="sheet.uri"><img :src="sheet.depiction" /></a>
                    <p>{{sheet.description}}</p>
                </div>
            </div>
            <!--
            <div id="player">
              Deezer ? 
                    
                    <div class="deezer-widget-player" data-src="https://www.deezer.com/plugins/player?format=square&autoplay=false&playlist=false&width=300&height=300&color=007FEB&layout=dark&size=medium&type=playlist&id=30595446&app_id=1" data-scrolling="no" data-frameborder="0" data-allowTransparency="true" data-width="300" data-height="300"></div>
            </div>
            <div id="partitions">
                <ul>
                    <li class="partition" v-for="partition in partitions"><a :href="partition.url">{{partition.title}}</a></li>
                </ul>
            </div>
        -->
        </div>
        
    </div>

    <script src="//unpkg.com/vue"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>